.section__about {
  padding-bottom: 10rem;
  .heading-dark {
    width: 137rem;
    text-align: start;

    @include media-tablet-port {
      width: 68.8rem;
    }
  }
}

.images__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding-top: 4rem;

  @include media-tablet-port {
    grid-template-columns: 1fr;
  }
}

.image__container {
  position: relative;
  width: 66rem;
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;

  img {
    position: absolute;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(0.9);
    }
  }

  @include media-tablet-port {
    width: 68.6rem;
  }
}

.image-large {
  height: 59rem;
  grid-row: span 2;
}
.image-small {
  height: 43rem;
  grid-row: span 1;
}
.image-1 {
  order: 1;
}
.image-2 {
  order: 5;
  @include media-tablet-port {
    display: none;
  }
}
.image-3 {
  order: 2;
  @include media-tablet-port {
    display: none;
  }
}
.image-4 {
  order: 4;
}

.img-1 {
  top: -6.8rem;
  right: -3.4rem;
  transform: scale(1);

  @include media-tablet-port {
    right: -2.2rem;
  }
}
.img-2 {
  top: -14.9rem;
  right: -3.4rem;
  transform: scale(1);
}
.img-3 {
  top: -14.7rem;
  right: -32.9px;
  transform: scale(1);
}
.img-4 {
  top: -6.7rem;
  right: -3.4rem;
  transform: scale(1);

  @include media-tablet-port {
    right: -2.2rem;
  }
}
