<section class="section" id="about">
  <div class="section__about">
    <h3 class="heading-dark">
      Resource is <span>the perfect and cozy place </span>where you can enjoy a
      variety of hot beverages, relax, catch up with friends, or get some work
      done.
    </h3>
    <div class="images__wrapper">
      <div class="image__container image-large image-1">
        <img
          class="img-1"
          src="./../../../assets/images/about-1.png"
          alt="a smiling young woman is sitting at a table with a cup of coffee"
          draggable="false"
        />
      </div>
      <div class="image__container image-small image-2">
        <img
          class="img-2"
          src="./../../../assets/images/about-2.png"
          alt="a cup of coffee on a table with christmas lights on the background"
          draggable="false"
        />
      </div>
      <div class="image__container image-small image-3">
        <img
          class="img-3"
          src="./../../../assets/images/about-3.png"
          alt="a young man with a cup of coffee in a cafe looking at the screen of his laptop"
          draggable="false"
        />
      </div>
      <div class="image__container image-large image-4">
        <img
          class="img-4"
          src="./../../../assets/images/about-4.png"
          alt="a young couple with coffees in their hands sitting at a table and smiling dreamily"
          draggable="false"
        />
      </div>
    </div>
  </div>
</section>
