<section class="section" id="about">
  <div class="section__about">
    <h3 class="heading-dark">
      Resource is <span>the perfect and cozy place </span>where you can enjoy a
      variety of hot beverages, relax, catch up with friends, or get some work
      done.
    </h3>
    <div class="images__container">
      <div class="column-1">
        <div class="image-1"></div>
        <div class="image-small-1"></div>
      </div>
      <div class="column-2">
        <div class="image-small-2"></div>
        <div class="image-2"></div>
      </div>
    </div>
  </div>
</section>
