.section__about {
  padding-bottom: 10rem;
  .heading-dark {
    font-size: 59.9px;
    text-align: start;
    @include media-mobile-large {
      @include text(4.2rem, 600, 125%, $color-text-dark);
    }
    @include media-mobile {
      @include text(3.2rem, 600, 125%, $color-text-dark);
    }
  }
}

.images__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding-top: 4rem;

  @include media-tablet-land {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 15%;
  }
  @include media-tablet-port {
    width: 100%;
    margin: 0;
  }
}

.image__container {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;

  img {
    position: absolute;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(0.92);

      @include media-tablet-port {
        transform: scale(0.96);
      }
    }
  }
}

.image-large {
  height: 59rem;
  grid-row: span 2;
}
.image-small {
  height: 43rem;
  grid-row: span 1;
}
.image-1 {
  order: 1;
}
.image-2 {
  order: 5;
  @include media-tablet-land {
    display: none;
  }
}
.image-3 {
  order: 2;
  @include media-tablet-land {
    display: none;
  }
}
.image-4 {
  order: 4;
}

.img-1 {
  top: -6.8rem;
  right: -3.4rem;
  transform: scale(1);

  @include media-tablet-port {
    right: -2.2rem;
  }

  @include media-mobile {
    right: -19rem;
  }
}
.img-2 {
  top: -14.9rem;
  right: -3.4rem;
  transform: scale(1);
}
.img-3 {
  top: -14.7rem;
  right: -32.9px;
  transform: scale(1);
}
.img-4 {
  top: -6.7rem;
  right: -3.4rem;
  transform: scale(1);

  @include media-tablet-port {
    right: -2.2rem;
  }

  @include media-mobile {
    right: -19rem;
  }
}
