<section class="section">
  <div class="section__about">
    <h3 class="heading-dark">
      Resource is <span>the perfect and cozy place </span>where you can enjoy a
      variety of hot beverages, relax, catch up with friends, or get some work
      done.
    </h3>
    <div class="images__container">
      <div class="column-1">
        <img
          class="image"
          src="./../../../assets/images/about-1.png"
          alt="a lady with a cup of coffee"
        />
        <img
          class="image-small"
          src="./../../../assets/images/about-2.png"
          alt="a cup of coffee on a table"
        />
      </div>
      <div class="column-2">
        <img
          class="image-small"
          src="./../../../assets/images/about-3.png"
          alt="a man with a coffee and laptop"
        />
        <img
          class="image"
          src="./../../../assets/images/about-4.png"
          alt="a young couple enjoying coffee"
        />
      </div>
    </div>
  </div>
</section>
