.section__app {
  display: flex;
  gap: 10rem;
  padding-bottom: 10rem;

  .heading-dark {
    text-align: start;
  }
}
.app__column-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;

  &_text {
    @include text(1.6rem, 400, 150%, $color-text-dark);
  }
}

.app__buttons {
  display: flex;
  gap: 2rem;
}
.app__button {
  display: flex;
  background-color: $color-primary;
  border: 1px solid $color-secondary;
  gap: 0.8rem;
  width: 20rem;
  height: 6.4rem;
  border-radius: 10rem;
  padding: 1.2rem 2rem;
  transition: all 0.5s ease-in-out;
}

.button__icon {
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem;
  transition: all 0.5s ease-in-out;
}
.button__icon_ios {
  background: url(./../../../assets/icons/ios.svg);
}
.button__icon_android {
  background: url(./../../../assets/icons/android.svg);
}

.button__text_sm {
  @include text(1rem, 600, 140%, $color-text-dark);
  text-align: start;
  transition: all 0.5s ease-in-out;
}

.button__text_l {
  @include text(1.6rem, 600, 150%, $color-text-dark);
  display: block;
  text-align: start;
  transition: all 0.5s ease-in-out;
}

.app__button {
  &:hover {
    background-color: $color-secondary;
    transition: all 0.5s ease-in-out;

    .button__icon_ios {
      background: url(./../../../assets/icons/ios-hover.svg);
    }
    .button__icon_android {
      background: url(./../../../assets/icons/android-hover.svg);
    }
    .button__text_sm {
      color: $color-primary;
    }
    .button__text_l {
      color: $color-primary;
    }
  }
}
