<section class="section">
  <div class="section__app">
    <div class="app__column">
      <h3 class="heading-dark">
        <span>Download</span> our apps to start ordering
      </h3>
      <p class="app__column_text">
        Download the Resource app today and experience the comfort of ordering
        your favorite coffee from wherever you are
      </p>
      <div class="app__buttons">
        <button class="button">App Store</button>
        <button class="button">Google Play</button>
      </div>
    </div>
    <div class="app__column">
      <img src="./../../../assets/images/mobile-screens.svg" alt="" />
    </div>
  </div>
</section>
