<section class="section" id="app">
  <div class="section__app">
    <div class="app__column-1">
      <h3 class="heading-dark">
        <span>Download</span> our apps to start ordering
      </h3>
      <p class="app__column-1_text">
        Download the Resource app today and experience the comfort of ordering
        your favorite coffee from wherever you are
      </p>
      <div class="app__buttons">
        <button class="app__button">
          <span class="button__icon button__icon_ios"></span
          ><span class="button__text_small"
            >Available on the<span class="button__text_large">App Store</span></span
          >
        </button>
        <button class="app__button">
          <span class="button__icon button__icon_android"></span
          ><span class="button__text_small"
            >Available on<span class="button__text_large">Google Play</span></span
          >
        </button>
      </div>
    </div>

    <div class="app__column">
      <img
        src="./../../../assets/images/mobile-screens.svg"
        alt="photo of two mobile phones with coffee shop app on the screens"
        draggable="false"
      />
    </div>
  </div>
</section>
