<section class="section" id="app">
  <div class="section__app">
    <div class="app__column-1">
      <h3 class="heading-dark">
        <span>Download</span> our apps to start ordering
      </h3>
      <p class="app__column-1_text">
        Download the Resource app today and experience the comfort of ordering
        your favorite coffee from wherever you are
      </p>
      <div class="app__buttons">
        <button class="button button-app">
          <img src="./../../../assets/icons/apple.svg" alt="app store icon" />
          <div class="button-app_text">
            <span>Available on the</span>
            <p>App Store</p>
          </div>
        </button>
        <button class="button button-app">
          <img
            src="./../../../assets/icons/android.svg"
            alt="google play icon"
          />
          <div class="button-app_text">
            <span>Available on</span>
            <p>Google Play</p>
          </div>
        </button>
      </div>
    </div>
    <div class="app__column">
      <img
        src="./../../../assets/images/mobile-screens.svg"
        alt="photo of two mobile phones with coffee shop app on the screens"
        draggable="false"
      />
    </div>
  </div>
</section>
