<div class="header__container">
  <div class="logo">
    <a href="./index.html">
      <img src="./../../assets/images/logo.svg" alt="logo" draggable="false" />
      <h1 class="visually-hidden">
        Resourse - the best coffee house in your area
      </h1></a
    >
  </div>
  <nav class="header__navigation">
    <ul class="navigation__list">
      <li class="navigation__list_link">
        <a href="#favorite">Favorite coffee</a>
      </li>
      <li class="navigation__list_link"><a href="#about">About</a></li>
      <li class="navigation__list_link"><a href="#app">Mobile app</a></li>
      <li class="navigation__list_link"><a href="#contacts">Contact us</a></li>
    </ul>
  </nav>
  <div class="header__menu">
    <a href="./menu.html"
      >Menu
      <img src="./../../assets/icons/coffee-cup.svg" alt="coffee cup icon" />
    </a>
  </div>
</div>
