.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  padding: 2rem 0;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  gap: 4rem;

  &_link {
    @include text(1.6rem, 600, 150%, $color-text-dark);
    list-style: none;
  }
}

.header__menu {
  @include text(1.6rem, 600, 150%, $color-text-dark);
  position: relative;

  a:hover::after {
    content: "";
    border-bottom: 2px solid $color-text-dark;
    width: 6rem;
    height: 2px;
    position: absolute;
    bottom: -0.1rem;
    left: 2.9rem;
    transform: translateX(-50%);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
