@import "normalize.css";
@import "variables.scss";
@import "mixins.scss";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  padding: 1rem;
  box-sizing: border-box;
  background-color: $color-body;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 144rem;
  height: 100svh;
  background-color: $color-background;
  border: 1px solid $color-border;
  box-shadow: 0 0 1rem 0.2rem $color-border;
  border-radius: 1.5rem;
  color: $color-text;

  @include media-mobile-large {
    flex-direction: column;
  }
}

.game {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;

  @include media-tablet-port {
    padding: 0.4rem;
  }
}

.section {
  display: flex;
  align-items: center;
  height: 60vh;

  @include media-mobile-large {
    flex-direction: column;
    justify-content: space-around;
    height: 95vh;
  }
}

.section__image {
  text-align: center;
  width: 35%;

  @include media-mobile-large {
    width: 50%;
  }

  &_img {
    width: 50%;
    max-width: 20rem;
    max-height: 70vh;

    @include media-tablet-land {
      width: 60%;
    }
    @include media-tablet-port {
      width: 70%;
    }
  }
}

.section__quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 40%;
  font-size: 2.8rem;

  @include media-tablet-land {
    font-size: 2.4rem;
    width: 45%;
  }

  @include media-tablet-port {
    font-size: 2rem;
  }

  @include media-mobile-large {
    width: 100%;
  }

  &_word {
    margin-bottom: 3rem;
  }

  &_count {
    color: $color-text-secondary;
    padding-top: 3rem;
    font-size: 1.8rem;
    letter-spacing: 0.06rem;
  }
}

.section__keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  max-width: 30%;
  padding: 0 4rem 0 4rem;

  @include media-tablet-land {
    max-width: 35%;
    padding: 0 1rem 0 2rem;
  }
  @include media-tablet-port {
    padding: 0 1rem 0 1rem;
  }

  @include media-mobile-large {
    max-width: 100%;
  }

  &_key {
    height: 3.6rem;
    width: 3.4rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    text-align: center;
    border: 1px solid $color-text;
    box-shadow: 0 0 0.6rem 0.2rem $color-border;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: $color-body;
    }

    @include media-tablet-port {
      height: 3.2rem;
      width: 3rem;
    }

    @include media-mobile-large {
      height: 3.9rem;
      width: 3.7rem;
    }
  }

  &_dashes {
    font-size: 2.6rem;

    @include media-tablet-port {
      font-size: 2.2rem;
    }
  }
}

.overlay {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-overlay;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 38rem;
  width: 30rem;
  border-radius: 1.5rem;
  background-color: $color-modal;
  border: 0.5px solid $color-text;
  box-shadow: 0 0 10rem 2rem $color-border;
}

h2,
h3 {
  letter-spacing: 0.08rem;
}

.button-play {
  padding: 0.8rem 1.8rem;
  margin-top: 2.2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  background-color: $color-border;
  border: 0.5px solid $color-text;
  color: $color-text;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $color-background;
    box-shadow: 0 0 0.5rem 0.01rem $color-overlay;
  }
}

.show {
  display: flex;
}

.disabled {
  cursor: auto;
  pointer-events: none;
}
