$color-body: rgba(170, 154, 170, 0.2);
$color-background: rgb(206, 212, 218);
$color-overlay: rgb(164, 170, 175);
$color-modal: rgb(223, 221, 223);
$color-border: rgba(34, 60, 80, 0.1);
$color-text: rgba(34, 60, 80);
$color-text-secondary: rgba(179, 7, 58, 0.8);
