.section__hero_image {
  position: relative;
  background: url("./../../../assets/images/img-hero.jpg") no-repeat center;
  background-size: cover;
  min-height: 64.4rem;
  padding: 10rem;
  border-radius: 4rem;

  @include media-tablet-port {
    padding: 10rem 6rem;
  }
  @include media-mobile-large {
    padding: 6rem 3rem;
  }
  @include media-mobile {
    padding: 6rem 1.6rem;
    min-height: 55.2rem;
  }
}

.section__hero_content {
  position: absolute;
  display: flex;
  max-width: 53rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;

  @include media-mobile {
    padding-right: 1.6rem;
  }
}

.heading-light {
  @include text(7.2rem, 600, 105%, $color-text-light);

  @include media-mobile-large {
    @include text(5rem, 600, 115%, $color-text-light);
  }
  @include media-mobile {
    @include text(4.2rem, 600, 115%, $color-text-light);
  }

  span {
    font-style: italic;
    color: $color-text-accent;
  }
}
.section__hero_text {
  @include text(1.6rem, 400, 150%, $color-text-light);

  @include media-mobile-large {
    padding-right: 1rem;
  }
  @include media-mobile {
    padding-right: 0;
  }
}

.menu-button {
  &:hover {
    .button-image {
      opacity: 1;
    }

    .button-text {
      margin-left: 0rem;
    }
  }
}

.button-text {
  margin-left: 2rem;
  transition: all 0.2s ease-in-out;
  @include media-tablet-port {
    margin-left: 0;
  }
}

.button-image {
  @include media-tablet-port {
    opacity: 1;
  }
  opacity: 0;
  padding-bottom: 0.3rem;
  transition: all 0.2s ease-in-out;
}
