<section class="section">
  <div class="section__hero">
    <div class="bg-video">
      <video class="bg-video__content" autoplay muted loop>
        <source src="./../../../assets/video/video-_2160p_.webm" />
        Your browser is not supported!
      </video>
    </div>

    <div class="section__hero_content">
      <h2 class="heading-light">
        <span>Enjoy</span> premium coffee at our charming cafe
      </h2>
      <p class="section__hero_text">
        With its inviting atmosphere and delicious coffee options, the Coffee
        House Resource is a popular destination for coffee lovers and those
        seeking a warm and inviting space to enjoy their favorite beverage.
      </p>
      <a class="button menu-button" href="./menu.html">
        <span class="button-text">Menu</span>
        <img
          class="button-image"
          src="./../../../assets/icons/coffee-cup.svg"
          alt="coffee cup icon"
          draggable="false"
        />
      </a>
    </div>
  </div>
</section>
