.section__hero_image {
  position: relative;
  background: url("./../../../assets/images/img-hero.jpg") no-repeat center;
  background-size: cover;
  min-height: 64.4rem;
  padding: 10rem;
  border-radius: 4rem;

  @include media-tablet-port {
    padding: 10rem 6rem;
  }
}

.section__hero_content {
  position: absolute;
  display: flex;
  max-width: 53rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
}

.heading-light {
  @include text(7.2rem, 600, 105%, $color-text-light);

  span {
    font-style: italic;
    color: $color-text-accent;
  }
}
.section__hero_text {
  @include text(1.6rem, 400, 150%, $color-text-light);
}

.menu-button {
  &:hover {
    .button-image {
      opacity: 1;
    }
    .button-text {
      margin-left: 0rem;
    }
  }
}
.button-text {
  margin-left: 2rem;
  transition: all 0.4s ease-in-out;
}
.button-image {
  opacity: 0;
  padding-bottom: 0.3rem;
  transition: all 0.4s ease-in-out;
}
