<section class="section" id="favorite">
  <div class="section__favorite">
    <h3 class="heading-dark">Choose your <span>favorite</span> coffee</h3>
    <div class="slider">
      <button class="arrow arrow-left">
        <span class="arrow-left__icon"></span>
      </button>
      <div class="slider__container">
        <div class="slider-line">
          <div class="slider__card">
            <img
              src="./../../../assets/images/coffee-slider-1.svg"
              alt="photo of a glass with iced coffee"
              draggable="false"
            />
            <h4 class="slider__card_title">S’mores Frappuccino</h4>
            <p class="slider__card_text">
              This new drink takes an espresso and mixes it with brown sugar and
              cinnamon before being topped with oat milk.
            </p>
            <p class="slider__card_price">$5.50</p>
          </div>
          <div class="slider__card">
            <img
              src="./../../../assets/images/coffee-slider-2.svg"
              alt="photo of a glass with iced coffee"
              draggable="false"
            />
            <h4 class="slider__card_title">Caramel Macchiato</h4>
            <p class="slider__card_text">
              Fragrant and unique classic espresso with rich caramel-peanut
              syrup, with cream under whipped thick foam.
            </p>
            <p class="slider__card_price">$5.00</p>
          </div>
          <div class="slider__card">
            <img
              src="./../../../assets/images/coffee-slider-3.svg"
              alt="photo of a glass with iced coffee"
              draggable="false"
            />
            <h4 class="slider__card_title">Ice coffee</h4>
            <p class="slider__card_text">
              A popular summer drink that tones and invigorates. Prepared from
              coffee, milk and ice.
            </p>
            <p class="slider__card_price">$4.50</p>
          </div>
        </div>
      </div>
      <button class="arrow arrow-right">
        <span class="arrow-right__icon"></span>
      </button>
    </div>
    <div class="slider__controls">
      <div class="control active"></div>
      <div class="control"></div>
      <div class="control"></div>
    </div>
  </div>
</section>
