<section class="section">
  <div class="section__favorite">
    <h3 class="heading-dark">Choose your <span>favorite</span> coffee</h3>
    <div class="slider">
      <button class="arrow-left">
        <img
          src="./../../../assets/icons/arrow-left.svg"
          alt="left arrow icon"
        />
      </button>
      <div class="slider__container">
        <div class="slider__card">
          <img
            src="./../../../assets/images/coffee-slider-1.svg"
            alt="photo of a glass with iced coffee"
          />
          <h4 class="slider__card_title">S’mores Frappuccino</h4>
          <p class="slider__card_text">
            This new drink takes an espresso and mixes it with brown sugar and
            cinnamon before being topped with oat milk.
          </p>
          <p class="slider__card_price">$5.50</p>
        </div>

        <div class="slider__controls">
          <img src="./../../../assets/icons/control.png" alt="control line" />
          <img src="./../../../assets/icons/control-1.png" alt="control line" />
          <img src="./../../../assets/icons/control-1.png" alt="control line" />
        </div>
      </div>
      <button class="arrow-right">
        <img
          src="./../../../assets/icons/arrow-right.svg"
          alt="right arrow icon"
        />
      </button>
    </div>
  </div>
</section>
