.section__favorite {
  padding: 10rem 0;
}
.heading-dark {
  @include text(6rem, 600, 125%, $color-text-dark);
  text-align: center;

  @include media-mobile-large {
    @include text(4.2rem, 600, 125%, $color-text-dark);
  }
  @include media-mobile {
    @include text(3.2rem, 600, 125%, $color-text-dark);
  }

  span {
    font-style: italic;
    color: $color-text-accent;
  }
}
.arrow {
  background-color: $color-primary;
  border: 1px solid $color-border-dark;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 0 0.4rem 4.4rem;
  transition: all 0.5s ease-in-out;

  @include media-mobile-large {
    display: none;
  }

  span {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
  }
  &-left__icon {
    background: url(./../../../assets/icons/arrow-left.svg);
    transition: all 0.5s ease-in-out;
  }
  &-right__icon {
    background: url(./../../../assets/icons/arrow-right.svg);
    transition: all 0.5s ease-in-out;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $color-secondary;
      .arrow-left__icon {
        background: url(./../../../assets/icons/arrow-left-hover.svg);
      }
      .arrow-right__icon {
        background: url(./../../../assets/icons/arrow-right-hover.svg);
      }
    }
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;

  @include media-mobile-large {
    display: block;
  }
}
.slider__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @include media-mobile {
    max-width: 34.8rem;
  }
}
.slider__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 48rem;
  gap: 1.8rem;

  @include media-mobile-large {
    max-width: 34.8rem;
  }

  &_title {
    @include text(2.4rem, 600, 125%, $color-text-dark);
  }
  &_text {
    @include text(1.6rem, 400, 150%, $color-text-dark);
  }
  &_price {
    @include text(2.4rem, 600, 125%, $color-text-dark);
  }
}
.slider__controls {
  display: flex;
  gap: 1.2rem;
  padding-top: 3.8rem;
}
