<section class="section" id="favorite">
  <div class="section__favorite">
    <h3 class="heading-dark">Choose your <span>favorite</span> coffee</h3>
    <div class="slider">
      <button class="arrow">
        <span class="arrow-left__icon"></span>
      </button>
      <div class="slider__container">
        <div class="slider__card">
          <img
            src="./../../../assets/images/coffee-slider-1.svg"
            alt="photo of a glass with iced coffee"
            draggable="false"
          />
          <h4 class="slider__card_title">S’mores Frappuccino</h4>
          <p class="slider__card_text">
            This new drink takes an espresso and mixes it with brown sugar and
            cinnamon before being topped with oat milk.
          </p>
          <p class="slider__card_price">$5.50</p>
        </div>
        <div class="slider__controls">
          <img
            src="./../../../assets/icons/control.png"
            alt="control line"
            draggable="false"
          />
          <img
            src="./../../../assets/icons/control-1.png"
            alt="control line"
            draggable="false"
          />
          <img
            src="./../../../assets/icons/control-1.png"
            alt="control line"
            draggable="false"
          />
        </div>
      </div>
      <button class="arrow">
        <span class="arrow-right__icon"></span>
      </button>
    </div>
  </div>
</section>
