.section__favorite {
  padding: 10rem 0;
}
.heading-dark {
  @include text(6rem, 600, 125%, $color-text-dark);
  text-align: center;

  @include media-mobile-large {
    @include text(4.2rem, 600, 125%, $color-text-dark);
  }
  @include media-mobile {
    @include text(3.2rem, 600, 125%, $color-text-dark);
  }

  span {
    font-style: italic;
    color: $color-text-accent;
  }
}
.slider__arrow {
  background-color: $color-primary;
  border: 1px solid $color-border-dark;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  transition: all 0.5s ease-in-out;

  @include media-mobile-large {
    display: none;
  }

  span {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
  }
  &_left-icon {
    background: url(./../../../assets/icons/arrow-left.svg);
    transition: all 0.5s ease-in-out;
  }
  &_right-icon {
    background: url(./../../../assets/icons/arrow-right.svg);
    transition: all 0.5s ease-in-out;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $color-secondary;
      .arrow_left-icon {
        background: url(./../../../assets/icons/arrow-left-hover.svg);
      }
      .arrow_right-icon {
        background: url(./../../../assets/icons/arrow-right-hover.svg);
      }
    }
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;

  @include media-mobile-large {
    justify-content: center;
  }
}
.slider__container {
  overflow: hidden;
  max-width: 48rem;

  @include media-mobile-large {
    max-width: 34.8rem;
  }
}
.slider__line {
  display: flex;
  transition: all 1s ease-in-out;

  &_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 48rem;
    gap: 1.8rem;

    @include media-mobile-large {
      max-width: 34.8rem;
    }

    &-title {
      @include text(2.4rem, 600, 125%, $color-text-dark);
    }
    &-text {
      @include text(1.6rem, 400, 150%, $color-text-dark);
    }
    &-price {
      @include text(2.4rem, 600, 125%, $color-text-dark);
    }
  }
}
.slider__progress {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding-top: 3.8rem;

  &-bar {
    position: relative;
    background-color: $color-border-light;
    width: 4rem;
    height: 0.4rem;
    border-radius: 10rem;

    &_line {
      position: absolute;
      background-color: $color-border-dark;
      width: 0;
      height: 0.4rem;
      border-radius: 10rem;

      &.active {
        background-color: $color-border-dark;
        animation: progress 3s linear 0s forwards;
      }
      &.paused {
        animation-play-state: paused;
      }
    }
  }
}
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
