.section__menu-coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.header__menu {
  span {
    display: block;
  }
  a {
    display: none;
    cursor: default;
  }
  &:after {
    transform: scale(1);
  }

  @include media-tablet-port {
    span {
      display: none;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.6rem;
      cursor: pointer;
    }
  }
}
.navigation__list_link.menu {
  display: block;
}
.navigation__list_link.home {
  display: none;
}
.heading-dark {
  @include text(6rem, 600, 125%, $color-text-dark);
  text-align: center;
  max-width: 80rem;

  @include media-mobile-large {
    @include text(5rem, 600, 115%, $color-text-dark);
  }
  @include media-mobile {
    @include text(4.2rem, 600, 115%, $color-text-dark);
  }
  @include media-mobile {
    @include text(3.2rem, 600, 125%, $color-text-dark);
  }

  span {
    font-style: italic;
    color: $color-text-accent;
  }
}

.tabs__container {
  display: flex;
  justify-content: center;
  gap: 1.7rem;

  @include media-mobile {
    gap: 0.8rem;
  }
}
.tab {
  @include text(1.6rem, 600, 150%, $color-text-dark);
  text-transform: capitalize;
  // display: flex;
  // width: auto;
  // height: auto;
  width: 10rem;
  height: 4.8rem;
  background-color: $color-primary;
  border: 1px solid $color-border-light;
  border-radius: 10rem;
  gap: 0.8rem;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  transition: all 0.5s ease-in-out;
}
.tab_icon {
  display: block;
  // background-color: $color-border-light;
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
  padding: 0 0.7rem;
  transition: all 0.5s ease-in-out;
}
.coffee-icon {
  background: url(./../../assets/icons/icon-coffee.svg);
}
.tea-icon {
  background: url(./../../assets/icons/icon-tea.svg);
}
.dessert-icon {
  background: url(./../../assets/icons/icon-desserts.svg);
}
.tab_text {
  display: block;
  padding-top: 0.2rem;
  transition: all 0.5s ease-in-out;
}
.tab--active {
  background-color: $color-secondary;
  color: $color-text-light;
}
.tab--active .tab_icon {
  background-color: $color-primary;
}
.tab--active .tab_text {
  color: $color-primary;
}
@media (hover: hover) and (pointer: fine) {
  .tab:hover,
  .tab:active {
    cursor: pointer;
    background-color: $color-secondary;
    color: $color-text-light;
  }

  .tab:hover .tab_icon {
    background-color: $color-primary;
  }
  .tab:hover .tab_text {
    color: $color-primary;
  }
}

// .tab:disabled,
// .tab button[disabled] {
//   cursor: default;
// }

// Articles
.articles__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3.9rem;
  column-gap: 4rem;
  margin-top: -2px;
  padding-bottom: 6rem;

  @include media-desktop {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0rem;
  }
  @include media-mobile-large {
    grid-template-columns: 1fr;
  }
  @include media-mobile {
    row-gap: 3.8rem;
  }
}

.article {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-border-light;
  border-radius: 4rem;
  max-width: 31rem;
  transition: all 0.4s ease-in-out;

  &_hidden {
    display: none;
  }

  @include media-tablet-land {
    &:nth-child(n + 5):nth-child(-n + 8) {
      display: none;
    }
  }
}
@media (hover: hover) and (pointer: fine) {
  .article:hover {
    cursor: pointer;
  }
  .article:hover .image {
    transform: scale(0.9);
  }
}

.image__container {
  position: relative;
  overflow: hidden;
  height: 31rem;
  border-radius: 4rem;
}
.image {
  position: absolute;
  top: -1.5rem;
  right: -1.6rem;
  transition: all 0.5s ease-in-out;
}

.info__container {
  @include text(2.4rem, 600, 125%, $color-text-dark);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.2rem;
  padding: 1.9rem;
  min-height: 19.6rem;
}

.info__title {
  font-size: 2.4rem;
}
.info__description {
  @include text(1.6rem, 400, 150%, $color-text-dark);
}
.info__price {
  margin: auto 0 0 0;
}
.info__container .tab {
  display: none;
}
@include media-desktop {
  .refresh-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border: 1px solid $color-border-dark;
    border-radius: 50%;
    grid-column: 1/-1;
    justify-self: center;
    margin-bottom: 10rem;

    span {
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
    }
    &__icon {
      background: url(./../../assets/icons/refresh.svg);
    }
  }
}

// Modal
.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-backdrop;
}
.modal {
  position: relative;
  background-color: $color-primary;
  overflow: auto;
  max-width: 80rem;
  min-height: 50.4rem;
  border-radius: 4rem;
  padding: 1.6rem;
  color: $color-text-dark;

  &__wrapper {
    display: flex;
    gap: 2rem;
  }
  &__image {
    border-radius: 4rem;
    max-width: 31rem;

    &_container {
      max-width: 34rem;
      height: 34rem;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  &__info_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__title {
    @include text(2.4rem, 600, 125%, $color-text-dark);

    &_size,
    &_add {
      @include text(1.6rem, 400, 150%, $color-text-dark);
      margin-bottom: -1.2rem;
    }
  }
  &__price_total {
    @include text(2.4rem, 600, 125%, $color-text-dark);
    padding-bottom: 1.8rem;
  }
  &__description {
    @include text(1.6rem, 400, 150%, $color-text-dark);
  }

  &__price {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-border-light;
  }

  &__legend {
    display: flex;
    gap: 0.8rem;
    margin-top: -0.8rem;
  }

  &__close {
    display: block;
    width: 100%;
    border: 1px solid $color-border-dark;
    background-color: $color-primary;
    border-radius: 10rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1.8rem;
  }

  &__size input,
  &__add input {
    display: none;
  }

  &__size,
  &__add {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9rem;
    align-self: stretch;

    &_option {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      padding: 0.7rem 1.5rem 0.7rem 0.7rem;
      gap: 0.8rem;
      border-radius: 10rem;
      border: 1px solid $color-border-light;
      cursor: pointer;
      transition: all 0.4s ease-in-out;

      & > .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        font-size: 1.6rem;
        border-radius: 50%;
        background-color: $color-border-light;
        color: $color-text-dark;
        transition: all 0.3s ease-in-out;
      }
      & > .size_title {
        font-size: 1.6rem;
      }
    }
  }
}
.checked {
  color: $color-text-light;
  background-color: $color-secondary;
  border: 1px solid $color-secondary;
  cursor: default;
}
.icon-info {
  width: 16px;
  height: 16px;
  background: url(./../../assets/icons/info-empty.svg) center no-repeat;
}
