<section class="section">
  <div class="section__menu-coffee">
    <h3 class="heading-dark">
      Behind each of our cups hides an
      <span>amazing surprise</span>
    </h3>
    <!-- Tabs -->
    <div class="tabs__container">
      <button class="tab tab--active" disabled>
        <span class="tab_icon coffee-icon"></span
        ><span class="tab_text">Coffee</span>
      </button>
      <button class="tab">
        <span class="tab_icon tea-icon"></span><span class="tab_text">Tea</span>
      </button>
      <button class="tab">
        <span class="tab_icon dessert-icon"></span
        ><span class="tab_text">Dessert</span>
      </button>
    </div>

    <!-- Articles -->
    <div class="articles__container">
      <article class="article">
        <div class="image__container">
          <img
            class="image"
            src="./../../assets/images/coffee-1.png"
            alt="Irish coffee photo"
          />
        </div>
        <div class="info__container">
          <h3 class="info__title">Irish coffee</h3>
          <p class="info__description">
            Fragrant black coffee with Jameson Irish whiskey and whipped milk
          </p>
          <p class="info__price">$7.00</p>
        </div>
      </article>

      <article class="article">
        <div class="image__container">
          <img
            class="image"
            src="./../../assets/images/coffee-2.png"
            alt="Kahlua coffee photo"
          />
        </div>
        <div class="info__container">
          <h3 class="info__title">Kahlua coffee</h3>
          <p class="info__description">
            Classic coffee with milk and Kahlua liqueur under a cap of frothed
            milk
          </p>
          <p class="info__price">$7.00</p>
        </div>
      </article>

      <article class="article">
        <div class="image__container">
          <img
            class="image"
            src="./../../assets/images/coffee-3.png"
            alt="Honey raf photo"
          />
        </div>
        <div class="info__container">
          <h3 class="info__title">Honey raf</h3>
          <p class="info__description">
            Espresso with frothed milk, cream and aromatic honey
          </p>
          <p class="info__price">$5.50</p>
        </div>
      </article>

      <article class="article">
        <div class="image__container">
          <img
            class="image"
            src="./../../assets/images/coffee-4.png"
            alt="Ice cappuccino photo"
          />
        </div>
        <div class="info__container">
          <h3 class="info__title">Ice cappuccino</h3>
          <p class="info__description">
            Cappuccino with soft thick foam in summer version with ice
          </p>
          <p class="info__price">$5.00</p>
        </div>
      </article>

      <article class="article">
        <div class="image__container">
          <img
            class="image"
            src="./../../assets/images/coffee-5.png"
            alt="Espresso photo"
          />
        </div>
        <div class="info__container">
          <h3 class="info__title">Espresso</h3>
          <p class="info__description">Classic black coffee</p>
          <p class="info__price">$4.50</p>
        </div>
      </article>

      <article class="article">
        <div class="image__container">
          <img
            class="image"
            src="./../../assets/images/coffee-6.png"
            alt="Latte photo"
          />
        </div>
        <div class="info__container">
          <h3 class="info__title">Latte</h3>
          <p class="info__description">
            Espresso coffee with the addition of steamed milk and dense milk
            foam
          </p>
          <p class="info__price">$5.50</p>
        </div>
      </article>

      <article class="article">
        <div class="image__container">
          <img
            class="image"
            src="./../../assets/images/coffee-7.png"
            alt="Latte macchiato photo"
          />
        </div>
        <div class="info__container">
          <h3 class="info__title">Latte macchiato</h3>
          <p class="info__description">
            Espresso with frothed milk and chocolate
          </p>
          <p class="info__price">$5.50</p>
        </div>
      </article>

      <article class="article">
        <div class="image__container">
          <img
            class="image"
            src="./../../assets/images/coffee-8.png"
            alt="Coffee with cognac photo"
          />
        </div>
        <div class="info__container">
          <h3 class="info__title">Coffee with cognac</h3>
          <p class="info__description">
            Fragrant black coffee with cognac and whipped cream
          </p>
          <p class="info__price">$6.50</p>
        </div>
      </article>
      <div class="refresh-btn">
        <span class="refresh-btn__icon"></span>
      </div>
    </div>
  </div>
</section>
