<section class="section">
  <div class="section__menu-coffee">
    <h3 class="heading-dark">
      Behind each of our cups hides an
      <span>amazing surprise</span>
    </h3>

    <div class="tabs__container">
      <button class="tab tab--active" id="coffee">
        <span class="tab_icon coffee-icon">
          <img
            src="./../../assets/icons/icon-coffee.svg"
            alt="coffee cup icon"
          />
        </span>
        Coffee
      </button>
      <button class="tab" id="tea">
        <span class="tab_icon tea-icon">
          <img
            src="./../../assets/icons/icon-tea.svg"
            alt="tea cup icon"
          /> </span
        >Tea
      </button>
      <button class="tab" id="dessert">
        <span class="tab_icon dessert-icon">
          <img
            src="./../../assets/icons/icon-dessert.svg"
            alt="piece of cake icon"
          /> </span
        >Dessert
      </button>
    </div>

    <div class="articles__container"></div>
    <div class="load-more__btn">
      <span class="load-more__btn_icon"></span>
    </div>
  </div>
</section>
