<section class="section">
  <div class="section__menu-coffee">
    <h3 class="heading-dark">
      Behind each of our cups hides an
      <span>amazing surprise</span>
    </h3>
    <!-- <div class="tabs__container">
      <button class="tab tab--coffee tab--active">coffee</button>
      <button class="tab">tea</button>
      <button class="tab">dessert</button>
    </div> -->

    <div class="tabs__container">
      <button class="tab tab--active">
        <span class="tab_icon coffee-icon">
          <img src="./../../assets/icons/icon-coffee.svg" alt="" />
        </span>
        Coffee
      </button>
      <button class="tab">
        <span class="tab_icon tea-icon">
          <img src="./../../assets/icons/icon-tea.svg" alt="" /> </span
        >Tea
      </button>
      <button class="tab">
        <span class="tab_icon dessert-icon">
          <img src="./../../assets/icons/icon-dessert.svg" alt="" /> </span
        >Dessert
      </button>
    </div>

    <div class="articles__container"></div>
    <div class="refresh-btn">
      <span class="refresh-btn__icon"></span>
    </div>
  </div>
</section>
