@mixin text($size, $weight, $height, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

%transition {
  transition: all 0.4s ease-in-out;
}

// Media
@mixin media-desktop {
  // 1220px
  @media (max-width: $desktop-width) {
    @content;
  }
}
@mixin media-tablet-land {
  // 1024px
  @media (max-width: $tablet-land-width) {
    @content;
  }
}
@mixin media-tablet-port {
  // 768px
  @media (max-width: $tablet-port-width) {
    @content;
  }
}
@mixin media-mobile-large {
  // 720px
  @media (max-width: $mobile-large-width) {
    @content;
  }
}
@mixin media-mobile {
  // 420px
  @media (max-width: $mobile-width) {
    @content;
  }
}
