// Background Color
$color-primary: #e3d5c9;
$color-secondary: #665f55;
$color-backdrop: #403f3dcc;

// Text Color
$color-text-dark: #403f3d;
$color-text-light: #e1d4c9;
$color-text-accent: #b0907a;

// Border Color:
$color-border-light: #c1b6ad;
$color-border-dark: #665f55;


// Media
// $desktop-width: 1366px;
// $tablet-land-width: 1024px;
$tablet-port-width: 768px;
// $mobile-large-width: 761px;
$mobile-width: 380px;
