@import "../../../index.scss";

.garage-container {
  background-color: $color-background-garage;
  padding: 2rem;
  margin: 3rem;
  width: 85vw;
  min-height: 89dvh;
  text-align: center;
  border-radius: 0.4rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.buttons-pagination {
  display: flex;
  align-items: start;
  padding-bottom: 2rem;

  & button {
    width: 13rem;
    padding: 0.5rem 0.5rem;
    font-size: 1.2rem;
  }
}

.car-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  height: 4rem;
  border-bottom: 1px dashed $color-text-light;
}

.car-name {
  font-size: 1.2rem;
}
