@import "modern-normalize";
@import "variables.scss";
@import "modal.scss";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $color-white;
  margin: 0 auto;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 144rem;
  padding-top: 2rem;
}

.grid-container {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
  border: 1px solid $color-black;
}

.cell {
  position: relative;
  width: 5rem;
  height: 5rem;
  border: 0.5px solid $color-light-grey;
  text-align: center;
  background-color: $color-white;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0.5rem 0.01rem $color-dark-grey;
  }
}

.filled {
  background-color: $color-black;
}

.cell.crossed::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0.4rem;
  background-color: $color-black;
  rotate: 45deg;
}

.cell.crossed::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0.4rem;
  background-color: $color-black;
  rotate: -45deg;
}

.button {
  font-size: 1.4rem;
  border: 1px solid $color-black;
  background-color: $color-light-grey;
  color: $color-black;
  padding: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0.5rem 0.01rem $color-dark-grey;
  }
}

.clues-top {
  display: flex;
  min-height: 5rem;
  margin-left: 5rem;
}

.row {
  display: flex;
}

.clue-text {
  font-size: 1.6rem;
  color: $color-black;
}

.clue-cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 5rem;
  background-color: $color-light-grey;
  border: 0.5px solid $color-dark-grey;
  border-right: 4px solid $color-black;
  padding: 0.5rem;
}

.clues-top .clue-cell {
  display: flex;
  flex-direction: column;
  border-right: none;
  border: 0.5px solid $color-dark-grey;
  border-bottom: 4px solid $color-black;
}

.buttons-container {
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

.lock {
  pointer-events: none;
}

h1 {
  color: $color-black;
  text-align: center;
  padding-bottom: 1rem;
  letter-spacing: 0.2rem;
}
