@import "../../../index.scss";

.winners-container {
  background-color: $color-background-winners;
  padding: 2rem;
  margin: 3rem;
  width: 85vw;
  height: 89dvh;
  text-align: center;
  border-radius: 0.4rem;
}
