.footer__container {
  background-color: $color-secondary;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 10rem;
  border-radius: 4rem;

  .heading-light {
    @include text(6rem, 600, 125%, $color-text-light);
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &_title {
    @include text(2.4rem, 600, 125%, $color-text-light);
    padding-bottom: 2.4rem;
  }
  &_address {
    @include text(1.6rem, 600, 150%, $color-text-light);
  }
  &_phone {
    @include text(1.6rem, 600, 150%, $color-text-light);
  }
  &_schedule {
    @include text(1.6rem, 600, 150%, $color-text-light);
  }
}

.social-icon {
  background-color: $color-secondary;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid $color-primary;
  margin-right: 1.2rem;
  margin-top: 4rem;
}
.icon {
  width: 2.4rem;
  height: 2.4rem;
}
