<div class="footer__container">
  <div class="footer__column">
    <h4 class="heading-light">
      Sip, Savor, Smile. <span>It's coffee time!</span>
    </h4>
    <button class="social-icon">
      <img
        src="./../../assets/icons/twitter.svg"
        alt="twitter icon"
        class="icon"
      />
    </button>
    <button class="social-icon">
      <img
        src="./../../assets/icons/instagram.svg"
        alt="instagram icon"
        class="icon"
      />
    </button>
    <button class="social-icon">
      <img
        src="./../../assets/icons/facebook.svg"
        alt="facebook icon"
        class="icon"
      />
    </button>
  </div>
  <div class="footer__column">
    <div class="footer__contacts" id="contacts">
      <p class="footer__contacts_title">Contact us</p>
      <p class="footer__contacts_address">
        <a href="https://maps.app.goo.gl/RJapY2QV9Z1AZjim8" target="_blank">
          <img src="./../../assets/icons/pin-alt.svg" alt="pin icon" />8558
          Green Rd., LA</a
        >
      </p>
      <p class="footer__contacts_phone">
        <a href="tel:+1(603)555-0123"
          ><img src="./../../assets/icons/phone.svg" alt="phone icon" />+1 (603)
          555-0123</a
        >
      </p>
      <p class="footer__contacts_schedule">
        <img src="./../../assets/icons/clock.svg" alt="clock icon" />Mon-Sat:
        9:00 AM – 23:00 PM
      </p>
    </div>
  </div>
</div>
