<div class="footer__container">
  <div class="footer__column">
    <h4 class="heading-light">
      Sip, Savor, Smile. <span>It's coffee time!</span>
    </h4>
    <button class="social-icon">
      <img
        src="./../../assets/icons/twitter.svg"
        alt="twitter icon"
        class="icon"
      />
    </button>
    <button class="social-icon">
      <img
        src="./../../assets/icons/instagram.svg"
        alt="instagram icon"
        class="icon"
      />
    </button>
    <button class="social-icon">
      <img
        src="./../../assets/icons/facebook.svg"
        alt="facebook icon"
        class="icon"
      />
    </button>
  </div>
  <div class="footer__column">
    <div class="footer__contacts">
      <p class="footer__contacts_title">Contact us</p>
      <p class="footer__contacts_address">8558 Green Rd., LA</p>
      <p class="footer__contacts_phone">+1 (603) 555-0123</p>
      <p class="footer__contacts_schedule">Mon-Sat: 9:00 AM – 23:00 PM</p>
    </div>
  </div>
</div>
