.footer__container {
  background-color: $color-secondary;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 10rem;
  border-radius: 4rem;
  gap: 10rem;

  .heading-light {
    @include text(6rem, 600, 125%, $color-text-light);
  }
}
.heading-light {
  span {
    font-style: italic;
    color: $color-text-accent;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;

  &_title {
    @include text(2.4rem, 600, 125%, $color-text-light);
    padding-bottom: 2rem;
  }
  &_address {
    @include text(1.6rem, 600, 150%, $color-text-light);
    position: relative;
    display: inline;

    img {
      padding-right: 0.8rem;
    }
  }
  &_phone {
    @include text(1.6rem, 600, 150%, $color-text-light);
    position: relative;
    img {
      padding-right: 0.8rem;
    }
  }
  &_schedule {
    @include text(1.6rem, 600, 150%, $color-text-light);

    img {
      padding-right: 0.8rem;
    }
  }
}

.footer__contacts_address a {
  &:after {
    content: "";
    width: 34%;
    height: 2px;
    background-color: $color-text-light;
    position: absolute;
    left: 0;
    bottom: -2px;
    transform: scale(0);
  }
  &:hover:after {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
  }
}
.footer__contacts_phone a {
  &:after {
    content: "";
    width: 33%;
    height: 2px;
    background-color: $color-text-light;
    position: absolute;
    left: 0;
    bottom: -2px;
    transform: scale(0);
  }
  &:hover:after {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
  }
}

.social-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.2rem;
  padding-top: 4rem;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-secondary;
  border: 1px solid $color-primary;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: $color-primary;
  }

  span {
    display: inline-block;
    width: 6rem;
    height: 6rem;
  }

  &__twitter {
    background: url(../../assets/icons/twitter.svg) no-repeat center;
    transition: all 0.5s ease-in-out;
    &:hover {
      background: url(../../assets/icons/twitter-hover.svg) no-repeat center;
    }
  }

  &__instagram {
    background: url(../../assets/icons/instagram.svg) no-repeat center;
    transition: all 0.5s ease-in-out;

    &:hover {
      background: url(../../assets/icons/instagram-hover.svg) no-repeat center;
    }
  }

  &__facebook {
    background: url(../../assets/icons/facebook.svg) no-repeat center;
    transition: all 0.5s ease-in-out;

    &:hover {
      background: url(../../assets/icons/facebook-hover.svg) no-repeat center;
    }
  }
}
